.createCharacterForm__form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}
.createCharacterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createCharacterForm__exit-form-button {
  align-self: flex-end;
  margin: 0px 10px;
}
.createCharacterForm__info {
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0px rgb(0, 0, 0), -1px 1px 0px rgb(0, 0, 0), 1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
  margin: 2px;
}
.createCharacterForm__Inputs {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.createCharacterForm__Inputs > label {
  margin: 5px;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0px rgb(0, 0, 0), -1px 1px 0px rgb(0, 0, 0), 1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
}
.createCharacterForm__input {
  width: 175px;
  margin: 10px;
  border-radius: 5px;
}
.createCharacterForm__button-submit {
  align-self: center;

  padding: 2px;
  margin: 2px;
}
.createCharacterForm__info_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createCharacterForm__error {
  text-shadow: -1px -1px 0px rgb(0, 0, 0), -1px 1px 0px rgb(0, 0, 0), 1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
  color: red;
  margin: 5px;
  padding: 0px 50px;
}
.createCharacterForm__input-name {
  margin-left: 20px;
}
.createCharacterForm__input-race {
  margin-left: 23px;
}
